.comment {
  display: flex;
  flex-direction: column;

  .comment-wrapper {
    display: flex;
    flex-direction: row;
    margin-bottom: 12px;

    .profile-img {
      min-width: 40px;
      width: 40px;
      min-height: 40px;
      height: 40px;
    }
  }

  .comment-replies-container {
    margin-left: 50px;
  }
}
