.content-wrapper {
  width: 70%;
  margin-left: 8px;
  margin-right: 8px;

  .content-username {
    font-size: 14px;
    line-height: 20px;
    font-weight: 600;
    text-transform: capitalize;
  }

  .content-message {
    margin: 0;
    font-size: 14px;
  }

  .content-loader-container {
    display: flex;
    justify-content: center;
    margin-top: 4px;
  }

  .content-replies-btn {
    display: flex;
    align-items: center;
    color: #808080;
    font-size: 10px;
    font-weight: 600;
    padding: 0;

    &:hover {
      cursor: pointer;
    }

    .three-dots-logo {
      margin-right: 4px;
      margin-top: 2px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
