.user-profile {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;

  .profile-img-container {
    display: flex;
    margin-right: 40px;
  }

  .user-info {
    width: 40%;

    .username-container {
      margin-bottom: 16px;

      .name {
        font-size: 20px;
        line-height: 28px;
        font-weight: 600;
        text-transform: capitalize;
      }

      .username {
        font-size: 14px;
        font-weight: 600;
        color: #808080;
      }
    }

    .stadistics-container {
      display: flex;
      flex-direction: row;

      .posts-container,
      .followers-container {
        width: 40%;

        .number {
          font-size: 28px;
          font-weight: 600;
          margin-right: 8px;
        }

        .label {
          font-size: 20px;
          color: #333333;
        }
      }
    }

    .description-container {
      p {
        font-size: 18px;
        color: #333333;
        text-align: justify;
      }
    }
  }
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .user-profile {
    .user-info {
      width: 60%;

      .stadistics-container {
        .posts-container,
        .followers-container {
          .number {
            font-size: 24px;
          }

          .label {
            font-size: 20px;
          }
        }
      }

      .description-container {
        p {
          font-size: 16px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .user-profile {
    margin-bottom: 0;
    justify-content: initial;

    .profile-img-container {
      .profile-img {
        width: 80px;
        height: 80px;
      }
    }

    .user-info {
      width: 60%;

      .username-container {
        margin-bottom: 16px;
      }

      .stadistics-container {
        .posts-container,
        .followers-container {
          .number {
            font-size: 20px;
          }

          .label {
            font-size: 16px;
          }
        }
      }

      .description-container {
        p {
          font-size: 14px;
        }
      }
    }
  }
}
