.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;

  &.back-drop {
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    transition: all 0.4s;
  }

  button {
    background-color: transparent;
    border: none;

    &:hover {
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .left-btn {
    left: 15%;
  }

  .right-btn {
    right: 15%;
  }

  .left-btn,
  .right-btn {
    position: absolute;
    top: 50%;

    .isvg {
      svg {
        width: 32px;
        height: 32px;
        fill: white;
      }
    }
  }

  .modal-content {
    position: relative;
    background: white;
    border-radius: 16px;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    margin: 100px auto 0;
    width: 820px;
    height: 520px;
    padding: 30px 2px 0 45px;

    .close-btn {
      position: absolute;
      top: 10px;
      right: 6px;

      .isvg {
        svg {
          width: 16px;
          height: 16px;
          fill: black;
        }
      }
    }

    .modal-content-body {
      height: calc(100% - 64px);
      display: flex;

      .modal-img {
        min-width: 456px;
        width: 456px;
        min-height: 456px;
        height: 456px;
        object-fit: cover;
      }
    }

    .modal-content-footer {
      display: flex;
      justify-content: center;

      .isvg {
        svg {
          width: 60px;
          height: 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .modal-dialog {
    .modal-content {
      width: 320px;
      height: 440px;
    }
  }
}
