.comments {
  padding: 0 20px 0 32px;
  overflow: auto;

  .user-profile {
    justify-content: unset;
    margin-bottom: 24px;

    .profile-img-container {
      margin-right: 20px;

      .profile-img {
        width: 60px;
        height: 60px;
      }
    }

    .user-info {
      width: 80%;

      .username-container {
        margin-bottom: 8px;
      }

      .description-container {
        p {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }

  .list-title-container {
    justify-content: unset;
    margin-bottom: 20px;
    padding-left: 72px;

    .title-header-content {
      .three-dots-logo {
        svg {
          height: 40px;
        }
      }

      h1 {
        font-size: 20px;
      }

      .dot {
        width: 6px;
        height: 6px;
      }
    }
  }
}
