.home {
  grid-column-start: 2;
  grid-column-end: five;
  grid-row-start: row1-start;
  grid-row-end: 3;
  margin-top: 164px;

  &.showing-modal {
    overflow: hidden;
  }
}

@media only screen and (max-width: 1280px) {
  .home {
    margin-top: 0px;
    padding: 0 8px;
  }
}
