.home {
  height: calc(100vh - 200px);
  margin-top: 160px;

  &.showing-modal {
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .home {
    margin-top: 100px;
    padding: 0 8px;
  }
}
