body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .app-header {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;

    .isvg {
      svg {
        height: 190px;
      }
    }
  }

  .app-body {
    min-height: calc(100vh - 96px);
  }
}

@media only screen and (max-width: 600px) {
  body {
    .app-header {
      height: 65px;
      display: flex;
      align-items: center;
      justify-content: center;

      .isvg {
        svg {
          height: 150px;
        }
      }
    }
  }
}
