.image-wrapper {
  margin-right: 28px;
  margin-bottom: 28px;

  .img {
    width: 300px;
    height: 300px;
    object-fit: cover;

    &.is-loading {
      background-color: #eeeeee;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

@media only screen and (max-width: 980px) {
  .image-wrapper {
    .img {
      width: 275px;
      height: 275px;
    }
  }
}
