.image-list {
  width: 58%;

  .images-container {
    display: inline-flex;
    justify-content: center;

    .image-wrapper {
      display: flex;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
